{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json" // required for type checking rules (e.g @typescript-eslint/recommended-requiring-type-checking)
  },
  "settings": {
    "react": {
      "version": "detect" // eslint-plugin-react will eventually make this default
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking", // Consider removing for performance
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "no-console": "error",
    "no-return-await": "error",
    "no-shadow": "error",
    "no-empty-function": "error",
    "no-throw-literal": "error",
    "consistent-return": "error",
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "max-classes-per-file": "error",

    // @typescript-eslint
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/prefer-nullish-coalescing": "error",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/prefer-readonly": "error",
    "@typescript-eslint/prefer-reduce-type-parameter": "error",
    "@typescript-eslint/strict-boolean-expressions": [
      "error",
      {
        "allowString": false,
        "allowNumber": false,
        "allowNullableObject": false,
        "allowNullableBoolean": true
      }
    ],
    "@typescript-eslint/switch-exhaustiveness-check": "error",

    // react-hooks
    "react-hooks/exhaustive-deps": "error", // Prefer as error rather than warning

    // import (not included in import/recommended)
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",

    // simple-import-sort
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^\\u0000", // Side effect imports.
            "^@?\\w", // Packages.
            "^[^.]", // Absolute imports
            "^\\." // Relative imports.
          ]
        ]
      }
    ],

    // Rules to disable
    "react/jsx-uses-react": "off", // can be disabled for React 17
    "react/react-in-jsx-scope": "off", // can be disabled for React 17
    "react/prop-types": "off", // Don't need prop type validation in TS
    "@typescript-eslint/no-unsafe-assignment": "off" // This tends to shadow missing import errors
  }
}
